.skill-circle {
  margin-top: 38px;
  margin-left: 10%;
  position: relative;
  height: 134px;
  width: 134px;
  
  &:first-child {
    margin-left: 0;
  }
}


.skill-circle__percentage {
  display: inline-block;
  height: 134px;
  width: 134px;
  transform: rotate(180deg);
}

.skill-circle__title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  opacity: 0.5;
}
