.welcome-scroll {
  margin-top: 325px;
  display: flex;

  &:hover {
    color: $main-color;

  .welcome-scroll__pic {
    fill: $main-color;
  }

  }
}

.welcome-scroll__pic {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-left: 10px;
}

.welcome-scroll__text {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 600;
}