.work__container {
  margin-top: 140px;
  
  @include tablets {
    margin-top: 70px;
  }

  @include phones{
    width: 100%;
  }
}

.work__content {
  margin-top: 90px;
  padding-bottom: 160px;
  
  @include tablets {
    margin-top: 45px;
    
  }
  
  @include phones {
    padding-bottom: 60px;
  }
}

.work__title {
  width: 85%;
  margin: 0 auto;
}