.wrapper-mountain {
  background-image: url('../images/content/mountain-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
}