.about-desc
  .about-desc__welcome Привет, меня зовут 
  h2.about-desc__title.section-title Вадим Монастырский
  .about-desc__info.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
  .about-desc__text.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
