header.header
  .header__logo
    include logo.pug
  .header__menu
    nav.main-menu
      include main-menu.pug
  .header__links
    include socials.pug
    +socials('header')
  .header__popup
    .popup-btn__container
      button.popup-btn 
      