nav.main-menu
  ul.main-menu__list
    - var menuItems = [{name:"Главная", id: "Main"}, {name: "Обо мне", id: 'About'}, {name: "Навыки", id: 'Skills'}, {name: "Работы", id: 'Working'}, {name: "Отзывы", id: 'Reviews'}, {name: "Связаться", id: 'Callback'}]
    each item in menuItems 
      li.main-menu__item
        a(href='#'+item.id).main-menu__link=item.name




  