script(type='text/x-template')#reviews-slider
  .reviews-slider__wrapper
    .reviews__title__container
      h2.reviews__title.section-title Что обо мне говорят
      .reviews__controls
        button.reviews__button.reviews__button-prev(type="button" @click="previous()")
        button.reviews__button.reviews__button-next(type="button" @click="next()")
    .reviews-slider__container
      .reviews-slider
        flickity(ref='flickity', :options='flickityOptions').reviews__list
          .carousel-cell.reviews__item(
               v-for="review in reviews"
               :key="review"
            )
            blockquote.reviews__text.text 
              p {{review.blockquote}}
            .reviews__person
              .reviews__avatar
                .reviews__photo
                  img(:src='review.photo' alt='currentWork-pic').reviews__pic
                  //- +image("content/reviews/dima.jpeg",'reviews__pic')
              .reviews__person-info
                .reviews__name {{review.author}}
                .reviews__post {{review.post}}
          


      //- Рабочая версия уже через vue и файл JSON  

      //- .reviews-slider
      //-   ul.reviews__list
      //-     li.reviews__item(
      //-         v-for="review in reviews"
      //-         :key="review"
      //-       )
      //-       blockquote.reviews__text.text 
      //-         p {{review.blockquote}}
      //-       .reviews__person
      //-         .reviews__avatar
      //-           .reviews__photo
      //-             +image("content/reviews/dima.jpeg",'reviews__pic')
      //-         .reviews__person-info
      //-           .reviews__name {{review.author}}
      //-           .reviews__post {{review.post}}