script(type='text/x-template')#works-container
  .work-slider
    //- :передаем данные в дисплей и инфо (их нужно зарегистрировать в компонентах как пропс)
    //- @принимаем событие от потомков и вызываем метод handleSlide
    display(
      :works='works',
      :current-work='currentWork'
      :current-index='currentIndex'
      @slide='handleSlide'
    )
    info(
      :current-work='currentWork'
    )

script(type='text/x-template')#works-display
  .work-slider__pics(:data-slide="currentIndex + 1")
    pre {{currentIndex}}
    .work-slider__pics-content
      .work-slider__fullpic-container
        img(:src='currentWork.photo' alt='currentWork-pic').work-slider__fullpic
        //- +image('content/work/1.jpg', 'work-slider__fullpic')
        thumbs(
          :works='works'
          :current-work='currentWork'

        )
        btns(
          @slide='$emit("slide", $event)'
        )

script(type='text/x-template')#works-thumbs
  ul.work-slider__thumbs
    li.work-slider__thumb-item(
      v-for='work in reversedWorks'
      :key='work.id'
      :class='{active: work.id === currentWork.id}'
    ) 
      a.work-slider__thumb-link 
        img(:src='work.photo' alt='thumbs').work-slider__thumb
        //- img(src=require('images/content/work/2.jpg') alt='thumbs').work-slider__thumb - это через рекуайер, похоже пути относитлеьно index.pug
        //- +image('content/work/2.jpg','work-slider__thumb') - это при помощи миксина со сборки 

script(type='text/x-template')#works-btns
  .work-slider__buttons
    button(@click='$emit("slide","prev")').work-slider__btn.work-slider__btn-prev
      +icon('arrow','work-slider__prev-icon')
    button(@click='$emit("slide","next")').work-slider__btn.work-slider__btn-next
      +icon('arrow','work-slider__next-icon')


script(type='text/x-template')#works-info
  .work-slider__data
    //- передаем в компонент тэг наши :tags, которые берутся из computed свойства tagsArray 
    tags(
      :tags='tagsArray'  
    )
    h3.work-slider__title {{currentWork.title}}
    .work-slider__desc.text
      p {{currentWork.desc}}
    a(:href='currentWork.link' target='_black').work-slider__link.info-link Посмотреть сайт


script(type='text/x-template')#works-tags
  ul.work-slider__tags
    li.work-slider__tags-item(v-for='tag in tags' :key='tag')
      .tag {{tag}}