include ./mixins.pug
include ./components/skills.pug
include ./components/works.pug
include ./components/reviews.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .wrapper-mountain
          
          section.parallax
            .parallax__layer(data-speed='0.005')
              +image('parallax/1.jpg', 'parallax__image')
            .parallax__layer(data-speed='0.009')
              +image('parallax/2.png', 'parallax__image')
            .parallax__layer(data-speed='0.013')
              +image('parallax/3.png', 'parallax__image')
            .parallax__layer(data-speed='0.015')
              +image('parallax/4.png', 'parallax__image')
            .parallax__layer(data-speed='0.018')
              +image('parallax/5.png', 'parallax__image')
            .parallax__layer(data-speed='0.02')
              +image('parallax/6.png', 'parallax__image')
            .parallax__layer(data-speed='0.022')
              +image('parallax/7.png', 'parallax__image')
         
          section(id='Main').welcome.container.fullscreen-section
            include ./components/header.pug
            .welcome__content
              h4.welcome__title Личный сайт веб&nbsp;разработчика
              h1.welcome__main-title Вадим Монастырский 
            include ./components/welcome-scroll
          
          section(id='About').about.container
            .about-content
              include ./components/about-info.pug
              include ./components/about-desc.pug
        
        section.skills-section(id='Skills')
          .container.skills__container
            .skills__wrapper
              .skills-info
                .skills__info-container
                  h2.skills-info__title.section-title Чем я могу быть полезен Вам
                  .skills-info__text.text 
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills-widget
                //- прикрутили компонент скиллов
                #skills-component 
                  
        section.work(id='Working')
          .container.work__container
            h2.work__title.section-title Мои работы
            .work__content
              //- прикрутили компонент - слайдер работ
              #slider-component
              
        .wrapper-budda

          section(id='Reviews').reviews.container
            //- прикрутили компонент слайдер отзывов            
            #reviews-component
         
          section(id='Callback').callback__container.container
            h2.callback__title.section-title Связаться со мной
            form.callback__form
              .callback__row
                label.callback__label 
                  span.callback__text Введите Ваше имя
                  .callback__wrap
                    +icon('user', 'callback__icon')
                    input.callback__field(type='text' name='name' required placeholder='Монастырский Вадим')
                label.callback__label 
                  span.callback__text Введите Ваш e-mail
                  .callback__wrap
                    +icon('email', 'callback__icon')
                    input.callback__field(type='email' name='email' required placeholder='vmonastyrskiy@ya.ru')
              .callback__row
                label.callback__label.callback__textarea
                  span.callback__text Сообщение к письму
                  .callback__wrap
                    +icon('message', 'callback__icon')
                    textarea.callback__field(type='text' name='name' required placeholder='Требуется Ваша помощь в создании сайта. Интересуют сроки и цена вопроса')
              button(type='submit').callback__btn Отправить
       
        footer.footer
          .container.footer__container
            .footer__left
              .footer__info
                .footer__year &copy;  2019
                .footer__author
                  .footer__name Вадим Монастырский
                  .footer__post Личный сайт веб-разработчика
            .footer__right
                .footer__menu
                  include components/main-menu.pug
                .footer__content
                  .footer__about
                    .footer__about-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    +socials('footer')
                  .footer__qoute
                    blockquote.footer__qoute-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__qoute-author Martin Golding


